{extend name="admin/layout" /}
{block name="main"}
<div id="vue-page">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    商品分组列表
                    <span class="pull-right">
                        <span class="btn-sm btn-success" data-toggle="modal" data-target="#modal-add">添加</span>
                    </span>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead class="table-info">
                        <th width="170">排序操作</th>
                        <th>分组名称</th>
                        <th>状态</th>
                        <th>操作</th>
                        </thead>
                        <tbody>
                        <tr v-for="record in list">
                            <td>
                                <a class="btn-xs sort_btn" title="移到顶部">
                                    <i class="fa fa-long-arrow-up" @click="sort(record.gid,0)"></i>
                                </a>
                                <a class="btn-xs sort_btn" title="移到上一行">
                                    <i class="fa fa-chevron-circle-up" @click="sort(record.gid,1)"></i>
                                </a>
                                <a class="btn-xs sort_btn" title="移到下一行">
                                    <i class="fa fa-chevron-circle-down" @click="sort(record.gid,2)"></i>
                                </a>
                                <a class="btn-xs sort_btn" title="移到底部">
                                    <i class="fa fa-long-arrow-down" @click="sort(record.gid,3)"></i>
                                </a>
                            </td>
                            <td>{{ record.name }}</td>
                            <td>
                                <a class="btn-sm btn-warning" v-if="parseInt(record.status)===0" title="点击上架"
                                   @click="change(record,'status',1)">已下架</a>
                                <a class="btn-sm btn-success" v-else title="点击下架"
                                   @click="change(record,'status',0)">上架中</a>
                            </td>
                            <td>
                                <a data-target="#modal-update" data-toggle="modal" class="btn-sm btn-info"
                                   @click="group=record">修改</a>
                                <a class="btn-sm btn-danger" @click="delGroup(record.gid)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <pagination ref="pagination" :total="total" :current_page="search.page" :page_size="search.pageSize"
                                @page-phange="pageChange"></pagination>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">分组信息修改</h4>
                </div>
                <div class="modal-body">
                    <form id="form-update">
                        <input type="hidden" name="gid" :value="group.gid">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">分组名称</span>
                                <input type="text" class="form-control" name="name" :value="group.name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="update()">保存修改</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">分组信息修改</h4>
                </div>
                <div class="modal-body">
                    <form id="form-add">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">分组名称</span>
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="add()">保存修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name='foot'}
<script>
    new Vue({
        el: '#vue-page',
        data: {
            search: {
                page: 1,
                pageSize: 10
            },
            total: 0,
            list: [],
            group: {}
        },
        methods: {
            pageChange: function (p) {
                this.search.page = p;
                this.loadRecordList();
            },
            loadRecordList: function () {
                var vue = this;
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'groupList'])}", this.search, function (data) {
                    if (data.code === 0) {
                        vue.total = data.total;
                        vue.list = data.list
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            change: function (group, act, value) {
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'groupStatus'])}", {
                    gid: group.gid,
                    act: 'status',
                    value: value
                }, function (data) {
                    if (data.code === 0) {
                        group[act] = value
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            sort: function (gid, act) {
                var vue = this;
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'groupSort'])}", {
                    gid: gid,
                    act: act
                }, function (data) {
                    if (data.code === 0) {
                        vue.loadRecordList();
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            delGroup: function (gid) {
                if (!confirm('确认要删除此分组？')) return
                var vue = this;
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'delGroup'])}", {gid: gid}, function (data) {
                    if (data.code === 0) {
                        vue.loadRecordList();
                        klsf.msg(data.message, 'success')
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            update: function () {
                var vue = this;
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'groupUpdate'])}", $("#form-update").serialize(), function (data) {
                    if (data.code === 0) {
                        vue.loadRecordList();
                        $("#modal-update").modal('hide');
                        klsf.msg(data.message, 'success')
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            add: function () {
                var vue = this;
                klsf.ajax("{:url('AdminAjax/goods',['action'=>'groupAdd'])}", $("#form-add").serialize(), function (data) {
                    if (data.code === 0) {
                        vue.loadRecordList();
                        $("#modal-add").modal('hide');
                        klsf.msg(data.message, 'success')
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            }
        },
        mounted: function () {
            this.loadRecordList();
        }
    })
</script>
{/block}