{extend name="common/layout" /}
{block name="header"} {include file="admin/head" /}{/block}
{block name='modal'}
<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">更改管理员账号</h4>
            </div>
            <div class="modal-body">
                <form id="form-profile">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">管理员账号</span>
                            <input type="text" class="form-control" name="user" value="{:config('sys_v_user')}"
                                   placeholder="输入管理员账号" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">管理员密码</span>
                            <input type="password" class="form-control" name="pass" placeholder="输入新密码" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="profile">确认修改</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#logout").click(function () {
            if (!confirm("确认退出登录？")) return;
            klsf.ajax("{:url('AdminAjax/logout')}", null, function (data) {
                if (data.code === 0) {
                    klsf.msg(data.message, 'success');
                    setTimeout(function () {
                        window.location.href = "{:url('index/adminLogin')}";
                    }, 1000)
                } else {
                    klsf.msg(data.message, 'error')
                }
            })
        });
        $("#profile").click(function () {
            klsf.ajax("{:url('AdminAjax/changeAdmin')}", $("#form-profile").serialize(), function (data) {
                if (data.code === 0) {
                    klsf.msg(data.message, 'success');
                    setTimeout(function () {
                        window.location.href = "{:url('index/adminLogin')}";
                    }, 1000)
                } else {
                    klsf.msg(data.message, 'error')
                }
            })
        });
    });
</script>
{/block}