{extend name="home/layout" /}
{block name="main"}
<div class="row" id="vue-page">
    <div class=" col-md-6 col-sm-12 mt-2">
        <div class="panel panel-primary">
            <div class="panel-heading">站点设置</div>
            <div class="panel-body">
                <form id="form-set">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                站点名称
                            </span>
                            <input type="text" name="name" placeholder="输入站点名称" value="{:config('web_name')}"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                站长QQ
                            </span>
                            <input type="number" name="qq" placeholder="输入站长联系QQ" value="{:config('web_qq')}"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                首页标题
                            </span>
                            <textarea name="title" rows="5" class="form-control">{:config('web_title')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                SEO关键词
                            </span>
                            <textarea name="keywords" rows="5" class="form-control">{:config('web_keywords')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                SEO描述
                            </span>
                            <textarea name="description" rows="5"
                                      class="form-control">{:config('web_description')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                LOGO图片地址
                            </span>
                            <input type="text" name="logo" placeholder="输入图片完整地址"
                                   value="{:config('web_logo')}"
                                   class="form-control" required id="img-logo">
                            <span class="input-group-addon btn btn-info" @click="upload('img-logo')">上传</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                背景图片地址
                            </span>
                            <input type="text" name="bg_image" placeholder="输入图片完整地址" value="{:config('web_bg_image')}"
                                   class="form-control" required id="img-bg">
                            <span class="input-group-addon btn btn-info" @click="upload('img-bg')">上传</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                QQ打开转跳浏览器
                            </span>
                            <select class="form-control" name="is_tz" :value="{:config('web_is_tz')}">
                                <option value="0">关闭</option>
                                <option value="1">开启</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" @click="saveConfig('set')">保存配置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class=" col-md-6 col-sm-12 mt-2">
        <div class="panel panel-primary">
            <div class="panel-heading">公告设置</div>
            <div class="panel-body">
                <form id="form-gg">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                网站首页公告
                            </span>
                            <textarea name="gg_index" placeholder="支持html" rows="5" class="form-control">{:config('web_gg_index')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                网站注意事项
                            </span>
                            <textarea name="gg_notice" placeholder="支持html" rows="5" class="form-control">{:config('web_gg_notice')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                网站底部代码
                            </span>
                            <textarea name="index_foot" placeholder="支持html" rows="5" class="form-control">{:config('web_index_foot')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                首页弹出公告
                            </span>
                            <textarea name="index_dialog" placeholder="支持html" rows="5" class="form-control">{:config('web_index_dialog')}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                查单页面说明
                            </span>
                            <textarea name="gg_search" placeholder="支持html" rows="5" class="form-control">{:config('web_gg_search')}</textarea>
                        </div>
                    </div>
                    {if condition="config('web_kind')"}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                搭建分站说明
                            </span>
                            <textarea name="gg_web" placeholder="支持html" rows="5" class="form-control">{:config('web_gg_web')}</textarea>
                        </div>
                    </div>
                    {else/}
                    <input type="hidden" name="gg_web" value=""/>
                    {/if}
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" @click="saveConfig('gg')">保存配置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class=" col-md-6 col-sm-12 mt-2">
        <div class="panel panel-primary">
            <div class="panel-heading">提现账号设置</div>
            <div class="panel-body">
                <form id="form-tx">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                收款方式
                            </span>
                            <select name="type" class="form-control" v-model="txInfo[0]">
                                <option value="支付宝">支付宝</option>
                                <option value="微信">微信</option>
                                <option value="QQ">QQ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                收款账号
                            </span>
                            <input type="text" name="user" class="form-control" v-model="txInfo[1]"
                                   placeholder="输入收款账号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                收款人姓名
                            </span>
                            <input type="text" name="name" class="form-control" v-model="txInfo[2]"
                                   placeholder="输入收款人姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" @click="saveInfo()">保存配置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form id="uploadForm" enctype="multipart/form-data" class="hidden">
        <input type="hidden" name="id">
        <input type="file" name="file" @change="uploadFile()">
    </form>
</div>
{/block}
{block name='foot'}
<script>
    new Vue({
        el: '#vue-page',
        data: {
            price_web_0: '{:config("web_price_web_0")}',
            price_web_1: '{:config("web_price_web_1")}',
            price_0: '{if condition="config('web_kind')"}{:config("sys_price_web_0")}{else}0{/if}',
            price_1: '{if condition="config('web_kind')"}{:config("sys_price_web_1")}{else}0{/if}',
            txInfo: "{$userInfo.tx_info}".split("|#|")
        },
        methods: {
            saveConfig: function (id) {
                klsf.ajax("{:url('HomeAjax/config')}?action=" + id, $("#form-" + id).serialize(), function (data) {
                    if (data.code === 0) {
                        klsf.msg(data.message, 'success')
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            saveInfo: function () {
                klsf.ajax("{:url('HomeAjax/config',['action'=>'tx'])}", $("#form-tx").serialize(), function (data) {
                    if (data.code === 0) {
                        klsf.msg(data.message, 'success')
                    } else {
                        klsf.msg(data.message, 'error')
                    }
                })
            },
            upload: function (id) {
                $("#uploadForm input[name='id']").val(id);
                $("#uploadForm input[name='file']").click();
            },
            uploadFile: function () {
                var id = $("#uploadForm input[name='id']").val();
                var img = $("#uploadForm input[name='file']").val();
                if (img.length > 0) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{:url('HomeAjax/config',['action'=>'upload'])}",
                        data: new FormData($('#uploadForm')[0]),
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.code === 0) {
                                klsf.msg(data.message, 'success');
                                $("#" + id).val(data.url);
                            } else {
                                klsf.msg(data.message, 'error')
                            }
                        },
                        error: function (data) {
                            klsf.msg("上传失败，请稍候再试", 'error');
                        },
                        async: true
                    });
                }
            }
        }
    })
</script>
{/block}